<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControl.email.errors }" />
    <div *ngIf="submitted && formControl.email.errors" class="invalid-feedback">
      <div *ngIf="formControl.email.errors.required">Email required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="fullName">Full Name</label>
    <input type="text" formControlName="fullName" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControl.fullName.errors }" />
    <div *ngIf="submitted && formControl.fullName.errors" class="invalid-feedback">
      <div *ngIf="formControl.fullName.errors.required">Full name required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControl.username.errors }" />
    <div *ngIf="submitted && formControl.username.errors" class="invalid-feedback">
      <div *ngIf="formControl.username.errors.required">Username required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControl.password.errors }" />
    <div *ngIf="submitted && formControl.password.errors" class="invalid-feedback">
      <div *ngIf="formControl.password.errors.required">Password required</div>
      <div *ngIf="formControl.password.errors.passwordError">{{formControl.password.errors.passwordError}}</div>
    </div>
  </div>
  <!--<div class="form-group">-->
    <!--<label for="role">User role</label>-->
    <!--<select formControlName="role" class="form-control" required>-->
      <!--<option *ngFor="let role of roles" [value]="role">{{role}}</option>-->
    <!--</select>-->
    <!--<div *ngIf="submitted && formControl.role.errors" class="invalid-feedback">-->
      <!--<div *ngIf="formControl.role.errors.required">Role required</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Register</button>
    <button (click)="goBack()" class="btn btn-link">Cancel</button>
    <div *ngIf="submitted && isError" class="invalid-feedback" [ngClass]="{'error':isError}">
      <div>{{errorMessage}}</div>
    </div>
  </div>
</form>
