.parent{
  background-color: rgba(255,255,255,.9);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  align-content: stretch;
}
.parent > div{
  margin: 10px;
}

.parent button {
  width: 220px
}
